body{
    background: #00ECFF;
}
.top{
    /*4377b1*/
    background: #337277;
}


.banner {
    background-image: url('fruitstand.jpg');
    background-repeat: no-repeat;
    border: solid;
    height:275px;
}

h1 {
    background: #B24900;
    margin: 10px 0 -15px 0;
    padding: 25px;
    border-radius:5px;
    border: 2px solid black;
}

.left {
    margin-left: 5px;
    height: 50px;
    float: left;
}
.right{
    margin-right: 5px;
    height: 50px;
    float: right;
}
p{
    font-weight: bold;
    font-size: inherit;
    color: #4377b1;
    background: aliceblue;
}
button p {
    position: relative;
    top:45px;
}
.inner{
    margin: 0 2.5%;
    padding: 0 2.5%;
}

.apple-container{
    background-color: red;

}

.orange-container{
    background-color: orange;

}

.banana-container{
    background-color: yellow;

}
.pear-container {
    background-color: greenyellow;
}


.apple-buy, .pear-buy, .banana-buy, .orange-buy {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 150px;
  width: 150px;
  font-weight: bold;
  color: aliceblue;

}

.apple-buy {
    background-image: url('apple.png') ;

}
.banana-buy{
    background-image: url('bananas.png') ;

 }
.orange-buy{
    background-image: url('orange.png') ;

}
.pear-buy{
    background-image: url('pear.png') ;

}
.start-btn{
    background: #B24900;
    border: solid;
}

.apple-sell, .pear-sell, .banana-sell, .orange-sell{
    margin: 10px 10px;
}
.right-prime{
    float: right;
    margin: 10px 0;
    height: 75px;
}
.left-prime{
    float: left;
    margin: 10px 0;
    height: 75px;

}

/* Roman added some styling below */
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}
.message {
top: 50%;
position: fixed;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1;
text-align:center;
display: none;
}
.message p {
  font-size: 2em;
	font-weight: bold;
  padding: 10px;
  background: #CAEFF5;
  border: 2px solid #0087BF;
  border-radius: 5px;
	color: #008CB9;
	line-height: 1.25em;
}
